# Normalize text file line endings to LF on checkin
# and prevent conversion to CRLF on checkout.
* text=auto eol=lf

# Items to ignore when downloading a zip
.gitattributes export-ignore
.gitignore export-gitignore
